

 #---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # Ignorar todo por defecto

 *


 #---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # Permitir entrar en carpetas

 !*/


 #---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 
 # No ignorar código fuente y archivos de texto

 !*.cpp
 !*.h
 !*.hpp
 !*.inl
 !*.c
 !*.txt
 !*.md


 #---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # No ignorar configuración del proyecto

 !*.sln
 !*.vcxproj
 !*.filters


 #---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 
 # No ignorar tus módulos principales

 !App/
 !Core/
 !Editor3D/
 !Graphics/
 !Math/
 !Resources/
 !Scene/
 !UI/


 #---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # No ignorar formatos de recursos del juego

 !*.dds
 !*.png
 !*.jpg
 !*.bmp
 !*.tga
 !*.rtex
 !*.bintex
 !*.gfxdata
 !*.hlsl

 #---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # Ignorar carpetas automáticas de Visual Studio
 
.vs/
 bin/
 obj/
 Debug/
 Release/
 x64/
 x86/

